<h4>Parent component </h4>
<div *ngIf="employeeData.length>0" style="text-align: center">
<table class="table table-striped table-hover table-bordered" style="text-align: center;">
	<thead>
		<tr>
			<th>EMP ID</th>
			<th>FIRST NAME</th>
			<th>LAST NAME</th>
			<th>DELETE</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let emp of employeeData; let i = index">
			<td>{{emp.id}}</td>
			<td>{{emp.firstName}}</td>
			<td>{{emp.lastName}}</td>
			<td><a (click)="deleteEmployee(i)" style="cursor: pointer;">DELETE</a></td>
		</tr>
	</tbody>
</table>
</div>
<app-child [employeeData]="employeeData" [employees] ="employees" [employer]="employername"></app-child>
