<div style="text-align:center">
   <button (click)="getEmployees()" class="btn btn-primary">Get Employees Here</button>
   <button *ngIf="employeeData" (click)="sendEmployees()" class="btn btn-primary">Send Employees to employee component using Service</button>
   <h3 *ngIf="employeeData" style="text-align: center">Parent component. All EmployeesInfo here</h3>
<div *ngIf="employeeData" style="text-align: center">
<table class="table table-striped table-hover table-bordered" style="text-align: center;">
	<thead>
		<tr>
			<th>EMP ID</th>
			<th>FIRST NAME</th>
			<th>LAST NAME</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let emp of employeeData;">
			<td>{{emp.id}}</td>
			<td>{{emp.firstName}}</td>
			<td>{{emp.lastName}}</td>
		</tr>
	</tbody>
</table>
</div>
  <h3 *ngIf="employeedataSend">Employee Component</h3>
	<app-employee *ngIf="employeedataSend"></app-employee>
	<button *ngIf="employeedataSend" class="btn btn-primary"
	(click)="clearEmpData()" style="margin-top: -7px;">clear Employee Info</button>
 </div>

