<div class="col-xs-12" style="text-align:center">
<hr>
<h1> Welcome to {{title}}! </h1>
<div class="col-xs-3">
  	<div class="col-xs-12" style="margin-top:32px;">
  	<button class="btn btn-success" (click)="appServiceEx(true)"> with Using Services</button>
  	</div>
  	<div class="col-xs-12" style="margin-top:32px;">
  	<button class="btn btn-primary" (click)="appParent(true)">Input Output Bindings </button>
  	</div>
</div>
<div class="col-xs-9" >
	<app-serviceex *ngIf="isServiceEx"></app-serviceex>
	<app-parent *ngIf="isAppParent"></app-parent>
	 <!-- <app-serviceex></app-serviceex> -->
	
</div>
</div>

