<div class="col-xs-12" style="text-align:center">
<hr>
<h1> Welcome to {{title}}! </h1>
<div class="col-xs-3">
  	<div class="col-xs-12" style="margin-top:32px;">
  	<button class="btn btn-success" (click)="appServiceEx(true)"> with Using Services</button>
  	</div>
  	<div class="col-xs-12" style="margin-top:32px;">
  	<button class="btn btn-primary" (click)="appParentchild(true)">Input Output Bindings </button>
  	</div>
  	<div class="col-xs-12" style="margin-top:32px;">
  	<button class="btn btn-primary" (click)="appReader(true)">parent child events Bindings </button>
  	</div>
</div>
<div class="col-xs-9" >
	<app-teachers *ngIf="isServiceEx"></app-teachers>
	<app-students *ngIf="isAppParent"></app-students>
	<app-parent *ngIf="isAppParentChild"></app-parent>
	<app-readers *ngIf="isReader"></app-readers>
</div>
</div>

