<div *ngIf="subjectInfoInStudents" style="text-align: center">
<table class="table table-striped table-hover table-bordered" style="text-align: center;">
	<thead>
		<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center;">SUBJECT NAME</th>
			<th style="text-align: center;">TOTAL PAGES</th>
			<th style="text-align: center;">BOOk PRIZE (Rs)</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let subject of subjectInfoInStudents">
			<td>{{subject.id}}</td>
			<td>{{subject.SubjectName}}</td>
			<td>{{subject.pages}}</td>
			<td>{{subject.prize}}</td>
		</tr>
	</tbody>
</table>
</div>
